svg {
    border: 2px dashed #ccc;
}
.moon {
    display: none;
    animation-delay: 5s;
    animation: moon 5s infinite alternate;
    transition: all 5s ease;
}

#sun {
    animation: sun 5s infinite alternate-reverse;
    transition: all 5s linear;
}

@keyframes sun {
    0% {
        transform: translateX(-10px) translateY(2px);
    }

    50% {
        transform: translateY(-8px) translateX(60%);
    }

    100% {
        transform: translateX(120%) translateY(2px);
        fill: #2c2e3b;
    }
}

.tree1 {
    animation: tree1 5s infinite alternate-reverse;
    transition: all 5s ease;
}
.tree2 {
    animation: tree2 5s infinite alternate-reverse;
    transition: all 5s ease;
}
.tree3 {
    animation: tree3 5s infinite alternate-reverse;
    transition: all 5s ease;
}

@keyframes tree1{
    0% {
        fill: #46a655;
    }
    100% {
        fill: #1f4d26;
    }
}
@keyframes tree2{
    0% {
        fill: #b7f07d;
    }
    100% {
        fill: #698a49;
    }
}
@keyframes tree3{
    0% {
        fill: #7fdc48;
    }
    100% {
        fill: #417125;
    }
}

line {
    animation: line 5s infinite alternate-reverse;
    transition: all 5s linear;
}

@keyframes line {
    0% {
        fill: #6c4127;
    }
    100% {
        fill: #362114;
    }
}

rect {
    animation: rect 5s infinite alternate-reverse;
    transition: all 5s linear;
}

@keyframes rect {
    0% {
        fill: #7fdc48;
    }
    100% {
        fill: #447627;
    }
}